* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 10px; /* 10px = 1rem */
}

body {
  padding-block: 2rem;
  width: 100%;
  min-height: 100vh;
  background-color: #23252C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 317px;
  height: 780px;
  border-radius: 10px;
  background-color: #1A1B21;
  color: white;
}

.card-info_profile-image{
  width: 100%;
  min-height: 317px;
  max-height: 317px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 2.1rem;
  object-fit: cover;
  top: 20rem;
}

.center {
  text-align: center;
}

.card--info_name {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
}

.card--info_carrer {
  color: #F3BF99;
  font-size: 1.28rem;
  margin-bottom: 0.8rem; 
}

.card--info_website {
  font-size: 1.02rem;
  margin-bottom: 1.5rem;
}

.card--info_button {
  display: flex;
  justify-content: center;
  margin-bottom: 3.3rem;
}

.card--info_button .button {
  background-color: white;
  padding: 0.9rem 2.6rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: #374151;
  margin-inline: 0.8rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card--info_button .button img {
  margin-right: 0.8rem;
}

.card--info_button .card--info_button_blue {
  background-color: #5093E2;
  color: white;   
}

.content {
  /* background: red; */
  padding-inline: 2rem;
  margin-bottom: auto;
}

.content h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #F5F5F5;
}

.content p {
  font-size: 1.02rem;
  line-height: 1.5rem;
  color: #DCDCDC;

}

.card--about {
  margin-bottom: 2.7rem;
}

.card--footer {
  width: 100%;
  height: 6.4rem;
  background-color: #161619;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  border-radius: 0 0 10px 10px;
}

.card--footer img {
  width: 2.5rem;
  height: 2.5rem;
}